body{
    font-family: sans-serif;
    background: fixed;
    background-color:rgb(205, 255, 214);
    margin: 0;
    padding: 0;
}

nav{
    background-color: lightblue;
    color: blueviolet;
    text-align: center;
}
header{
    background: scroll;
    color: #00f7ff;
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
}
section{
    background: fixed;
    margin: 20px;
    padding:20px;
    box-shadow: inset;
    border-radius: 23px;
}
h2{
    color:tomato;
}
table{
    border: 2px solid;
    padding: 20px;
    text-align: center;
}
form input,form textarea{
    width: auto;
    padding: 10px;
    margin: 10px;
    border: 12px;
}

button{
    background: fixed;
    background-color: rgb(187, 255, 0);
    color:blue;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
button :hover {
    background: red;
    color:green;
    background-color: violet;

}
footer{
    background-color: yellow;
    color: rgb(2, 184, 2);
    text-align: center;
    padding: 10px;
}
    

